{{ form_start(certificateForm) }}

    {{ form_row(certificateForm.name, { label: 'Название шаблона' }) }}

<button type="submit" class="btn btn-primary">{{ button_text }}</button>
{{ form_end(certificateForm) }}