{{ form_start(importForm) }}

    {{ form_row(importForm.file, { label: 'Загрузка файла импорта' }) }}

<button type="submit" class="btn btn-primary">{{ button_text }}</button>
{{ form_end(importForm) }}